@{
    ViewBag.Title = "Example Application";
}


<div class="row">
    <div class="col-md-4">
        <h2>Example Application</h2>
        <p>
            This example application is related to my blog post series which starts from <a href="http://olli.problem.fi/2016/09/taking-first-steps-to-devops-world-part.html">here</a>.
        </p>
    </div>
</div>