<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <serviceDebug includeExceptionDetailInFaults="true" xdt:Transform="Insert"
    xdt:Locator="XPath(/configuration/system.serviceModel/behaviors/serviceBehaviors/behavior[not(serviceDebug)])" />
    <connectionStrings>
      <add name="ExampleAppModel"
        connectionString="data source=DevSQL;initial catalog=ExampleAppDev;persist security info=True;user id=ExampleAppDev_User;password=DKLJSDLK;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>