<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://exampleapp-bl.ad.example.com/CompanyService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompanyService"
        contract="ICompanyService.ICompanyService" name="BasicHttpBinding_ICompanyService"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://exampleapp-bl.ad.example.com/PersonService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPersonService" contract="IPersonService.IPersonService"
        name="BasicHttpBinding_IPersonService"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>